In [5]:
import os
import random
import glob
import pandas as pd
#os.chdir('/Users/lovedeepsingh/Desktop/TWITTER/Clustering')

In [6]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [7]:
#combine all files in the list
class_combined = pd.concat([pd.read_csv(f) for f in all_filenames ])
df = class_combined

In [8]:
df

,Unnamed: 0,text,class
0,0,Virat Kohli \n#TrovoIndia #PredictManOfTheMatc...,cricket
1,1,Big shout out to @Qdoscricket replacing one of...,cricket
2,2,Cool\n.\n.\n.\nUlta Cool\n.\n.\n.\nYuzvendra-C...,cricket
3,3,"New Zealand, Batting score (177-1)\n\n#Contest...",cricket
4,4,"2019 U19 Asia Cup:\n1st SEMI FINAL,\n India U1...",cricket
...,...,...,...
495,495,Mayor's report: #Houston awaits word next week...,tabletennis
496,496,#TableTennis For Jun Wu V Yun Qing Zhang on Th...,tabletennis
497,497,#tabletennis 2 doubles pairs into the semis in...,tabletennis
498,498,Benjamin and Reuben enjoyed their training day...,tabletennis
499,499,#TableTennis For Kristian Karlsson V Pavel Sir...,tabletennis

In [9]:
#combine all files in the list
#combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#shuffle
#random.shuffle(combined_csv)
#export to csv
df.to_csv( "class_combined.csv", index=False, encoding='utf-8-sig')

In [10]:
df=pd.read_csv('class_combined.csv',usecols=["text","class"])

In [11]:
df

                                                   text        class
0     Virat Kohli \n#TrovoIndia #PredictManOfTheMatc...      cricket
1     Big shout out to @Qdoscricket replacing one of...      cricket
2     Cool\n.\n.\n.\nUlta Cool\n.\n.\n.\nYuzvendra-C...      cricket
3     New Zealand, Batting score (177-1)\n\n#Contest...      cricket
4     2019 U19 Asia Cup:\n1st SEMI FINAL,\n India U1...      cricket
...                                                 ...          ...
2495  Mayor's report: #Houston awaits word next week...  tabletennis
2496  #TableTennis For Jun Wu V Yun Qing Zhang on Th...  tabletennis
2497  #tabletennis 2 doubles pairs into the semis in...  tabletennis
2498  Benjamin and Reuben enjoyed their training day...  tabletennis
2499  #TableTennis For Kristian Karlsson V Pavel Sir...  tabletennis

[2500 rows x 2 columns]

In [12]:
df.to_csv( "class_combined.csv", index=False, encoding='utf-8-sig')